src/__pycache__/
simulation/__pycache__/
simulation/nanosim_models/human_giab_hg002_sub1M_kitv14_dorado/
simulation/nanosim_models/promethion_10_4_1_guppy_model/
BFBArchitect.egg-info/
build/
_tests/
CLAUDE.md
GEMINI.md
environment.yml
.idea/
__pycache__/
diagnostics/
scripts/__pycache__/
scripts/*ccle*.py
scripts/gen_ccle_tst_report.py
